.container-fluid{
    position: fixed;
    z-index: 9999999999;
    /* background-color: #1589F1; */
    /* background-color: #06EDB5; */
    padding: 13px;
}
.container-fluid.fixed-navbar {
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    background-color: #033b4a;
    transition: 0.5s;
}
.bg-light{
    background-color: transparent !important;
    padding-top: 15px;
    padding-bottom: 15px;
} 
 .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active,
 .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #7da28e;
}
/* error */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active,
 .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link :hover{
    color: black;
}
svg{
    position: absolute;
    left: 7px;
    width: 25px;
}
.svgbro{
    position: absolute;
    left: 85px;
    width: 25px;
}
/* error */
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}
.nav-item a{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}
.nav-item a:hover{
    color: #00D363;
}
.nav-item{
    padding: 0 13px 0 35px;
    text-transform: capitalize;
    position: relative;
}
.navbar-light .navbar-toggler-icon {
    color: #00D363;
}
.navbar-light .navbar-toggler {
    color: #abd070;
    background-color:#00D363;
}
button:focus {
    outline: none;
    color: #abd070;
}
img{
    width: 170px;
}
/* .navbar-inverse{
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    background: rgba(0, 29, 56, 0.8);
} */
.fixed-navbar .navbar-light .navbar-nav .active > .nav-link, 
.fixed-navbar .navbar-light .navbar-nav .nav-link.active, 
.fixed-navbar .navbar-light .navbar-nav .nav-link.show, 
.fixed-navbar .navbar-light .navbar-nav .show > .nav-link :hover {
    color: #00D363;
}
.fixed-navbar .navbar-light .navbar-nav .nav-link:focus,
 .fixed-navbar .navbar-light .navbar-nav .nav-link:hover{
    color: #00D363
}
.logout{
    background: transparent;
    border-radius: 7px;
    outline: none;
    padding: 8px 13px 0 6px;
}
.cool{
    color: red !important;
    padding: 0 13px 0 17px;
    text-transform: capitalize;
    position: relative;
}

/* ---------- */
.kk{
    position: relative;
}
.ulkk{
    position: fixed;
    margin-top: 22px;
    visibility: collapse; 
    z-index: 389;
}
.ulkk ul{
    padding: 10px 39px;
    border: 1px solid;
    list-style: none;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    background-color: #033B4A;
}
.ulkk a{
    text-decoration: none;
    color: #fff;
}
.ulkk li:not(:last-child) {
    padding: 6px 50px 10px 0px;
    border-bottom: 1px solid #645050;
}
.ulkk a:hover{
    color: #00D363;
}
.kk:hover .ulkk{
    visibility: visible; 
}
/* finall */
li a.active{
    color: #00D363;;
}
/* -------- */
@media (min-width: 320px) and (max-width:359px){
   .container-fluid{
       position: fixed;
       background-color: #033B4A!important;
   }
   .bg-light{
    background-color: #033B4A!important;
} 
.ulkk{
    visibility: visible; 
    position: relative;
    margin-top: 0;
}
.ulkk ul{
    border: 0;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active,
 .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link :hover{
    color: #00D363
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #00D363
}
.imgmob{
    display: block;
    visibility: visible;
    width: 170px;
    position: relative;
}
}
@media (min-width: 360px) and (max-width:374px){
    .container-fluid{
        position: fixed;
        background-color: #033B4A!important;
    }
    .bg-light{
     background-color: #033B4A!important;
 } 
 .ulkk{
    visibility: visible; 
    position: relative;
    margin-top: 0;
}
.ulkk ul{
    border: 0;
}
 .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link :hover{
     color: #00D363
 }
 .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
     color: #00D363
 }
}
@media (min-width: 375px) and (max-width:410px){
    .container-fluid{
        position: fixed;
        background-color: #033B4A!important;
    }
    .bg-light{
     background-color: #033B4A!important;
 } 
 .ulkk{
    visibility: visible; 
    position: relative;
    margin-top: 0;
}
.ulkk ul{
    border: 0;
}
 .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link :hover{
     color: #00D363
 }
 .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
     color: #00D363
 }
}
@media (min-width: 411px) and (max-width: 575px) { 
    .container-fluid{
        position: fixed;
        background-color: #033B4A!important;
    }
    .bg-light{
     background-color: #033B4A!important;
 } 
 .ulkk{
    visibility: visible; 
    position: relative;
    margin-top: 0;
}
.ulkk ul{
    border: 0;
}
 .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link :hover{
     color: #00D363
 }
 .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
     color: #00D363
 }
}

@media (min-width: 576px) and (max-width: 767px) { 
    .container-fluid{
        position: fixed;
        background-color: #033B4A!important;
    }
    .bg-light{
     background-color: #033B4A!important;
 } 
 .ulkk{
    visibility: visible; 
    position: relative;
    margin-top: 0;
}
.ulkk ul{
    border: 0;
}
 .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link :hover{
     color: #00D363
 }
 .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
     color: #00D363
 }
}
@media(min-width: 768px) and (max-width: 991px) {
    .container-fluid{
        position: fixed;
        background-color: #033B4A!important;
    }
    .bg-light{
     background-color: #033B4A!important;
 } 
 .ulkk{
    visibility: visible; 
    position: relative;
    margin-top: 0;
}
.ulkk ul{
    border: 0;
}
 .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link :hover{
     color: #00D363
 }
 .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
     color: #00D363
 }
} 