<div class="container-fluid">
    <div class="container">
        <div class="title">
            <h1>
                About Us
            </h1>
        </div>
        <div class="overlay"></div>
    </div>
</div>
<!-- --------------- -->
<div class="container-fluid-1" data-aos="fade-up"
data-aos-duration="3000">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/about/a1.jpg" alt="">
            </div>
            <div class="col-md-6">
                <div class="content">
                    <h1>who are we</h1>
                    <hr>
                    <p> <span>W</span>e are a team at the Faculty of Computers <br> and Information of Zagazig University  to build <br> a project for a hospital for diagnosing
                        <br> lung cancer
                        and to facilitate the <br> waiting process</p>
                </div>
            </div>
        </div>
    </div>
</div>