<div class="container-fluid" data-aos="fade-right"
data-aos-offset="300"
data-aos-easing="ease-in-sine">
    <div class="container text-center">
        <div class="head">
            <span>OUR SERVICES</span>
            <h3>Special High-quality Services</h3>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card text-left">
                    <img class="card-img-top" src="assets/home/12.jpg">
                    <div class="card-body">
                        <div class="all-time">
                            <div class="time">
                                <span>20</span>
                                <span class="span1">Oct 2020</span>
                            </div>
                        </div>
                        <div class="all">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <span>Leave a Comment</span>
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span>Alex</span>
                        </div>
                        <h5 class="card-title">Oncology</h5>
                        <p class="card-text">An Internists! to cure cancer, work with radiation oncologists & surgeons</p>
                    </div>
                    <button routerLink="/about">Read More ></button>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>