<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="all">
                    <div class="contentofall">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="small-all">
                        <h5>+123 456 78910 / 11</h5>
                        <span>Have a question? call us now</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="all">
                    <div class="contentofall">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
                    <div class="small-all">
                        <h5>info@domainname.com</h5>
                        <span>Need support? Drop us an email</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="all">
                    <div class="contentofall">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                    <div class="small-all">
                        <h5>Mon – Sat 07:00 – 21:00</h5>
                        <span>We are open on</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>